.container {
    display: flex;
    flex-direction: column;
}

.container--moved {
    position: absolute;
    bottom: 5px;
    right: 0px;
    left: 0px;
    padding: 5px;
}

.section {
    background-color: white;
    margin: 1px 0;
    padding: 15px;
    box-shadow: 0 0 5px #cccccc;
    display: flex;
    flex-wrap: wrap;
}

.section__header {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    flex-grow: 1;
    align-self: center;
}

.section__span {
    display: flex;
    flex-wrap: wrap;
}

.section__button {
    border: none;
    background-color: white;
    color: #008080;
    padding: 0 10px;
    transition: 0.5s;
}

.section__button:hover {
    opacity: 0.7;
}

@media (max-width: 466px) {
    .section__span {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .section__button {
        margin: 5px 0;
    }
}

.section--margin {
    margin-bottom: 5px;
}

.section__div, .form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.section__button:disabled {
    color: grey;
}

.hidden {
    display: none;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.location__button {
    border: none;
    color: teal;
    font-size: 1.3em;
}

.location__link {
    color: teal;
    text-decoration: none;
}